.button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  align-self: center;
  cursor: pointer;
  background: #008193;
  color: white;
  border: none;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.button:hover {
  background: #006d7d;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.system {
    display: flex;
}

.systemCard {
    text-align: left;
    border: 0.25rem solid #006d7d;
    padding: 1.5rem;
    width: 25%;
}